<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>
    <%= @user.name %>,
  </p>

  <p>
    Your monthly charge for your Memorizor subscription failed.
  </p>

  <p>
    Don't worry, you probably just need to update your credit card information, which can be done on our website.
  </p>

  <p>
    If you don't fix this soon, you will loose all of the benefits of being a paid memorizor customer.
  </p>

  <p>
    As always, if you need any help or are confused about this email, please reply and we will get back to you as soon as possible.
  </p>

  <p>
    - The Memorizor Team
  </p>
  </body>
</html>
