<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>
    <%= @user.name %>,
  </p>

  <p>
    Thank you for registering for the <%= @invoice['data']['plan']['name'] %>.
  </p>

  <p>
    If this seems like a mistake or you have any questions, please reply to this email.
  </p>

  <p>
    - The Memorizor Team
  </p>
  </body>
</html>
