<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>
    <%= @user.name %>,
  </p>

  <p>
    We're sorry to hear that you have cancelled your Memorizor subscription.
  </p>

  <p>
    If you have any feedback about what went wrong, please reply to this email and we will get back to you.
  </p>

  <p>
    Even without your subscription you can continue using the free features that are provided as part of the free plan of Memorizor.
  </p>

  <p>
    - The Memorizor Team
  </p>
  </body>
</html>
