<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>
    <%= @user.name %>,
  </p>

  <p>
    Thanks for verifying your email address.
  </p>

  <p>
    To complete the process, please use the following token: <br>
    <%= @token %>
  </p>

  <p>
    Good luck on your memorization journey!
  </p>

  <p>
    - The Memorizor Team
  </p>
  </body>
</html>
